<!DOCTYPE html>
<html>
<head>
  <title>PersonalDepartament</title>
  <%= stylesheet_link_tag    "personal_departament/application", media: "all" %>
  <%= javascript_include_tag "personal_departament/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
