.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title 
          Nova Categoria de Fornecedor
        %hr/
      .panel-body
        .row
          .col-md-12
            = render 'form'