.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title 
        Entrada de Material
        = link_to "Novo Material", "#", class: 'pull-right'
      .panel-body
        .row
          .col-md-12
            = render 'form_add_item'