.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title
          %b= @alert.title.humanize 
          |
          = @alert.user.name.humanize if @alert.user.present?
          %span.pull-right
            = @alert.created_at.strftime("%d/%m/%Y")
        %hr/
      .panel-body
        .row
          .col-md-12
            = @alert.content