<!DOCTYPE html>
<html>
<head>
  <title>Deal</title>
  <%= stylesheet_link_tag    "deal/application", media: "all" %>
  <%= javascript_include_tag "deal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
