%header.header.fixed-top.clearfix
  / logo start
  .brand
    %a.logo{:href => "#{main_app.root_path}"}
      ENTHERM
    .sidebar-toggle-box
      .fa.fa-bars
  .top-nav.clearfix
    %ul.nav.pull-right.top-menu
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %img{:alt => "", :src => "images/avatar1_small.jpg"}/
          %span.username= current_user.email
          %b.caret
        %ul.dropdown-menu.extended.logout
          %li
            %a{:href => "#"}
              %i.fa.fa-suitcase>
              Editar meus dados
          %li
            %a{:href => "login.html"}
              %i.fa.fa-key
              Sair
    