%header.navbar.navbar-inverse{:role => "banner"}
  .navbar-header
    %button#menu-toggler.navbar-toggle{"data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#{dashboard.root_path}"}
      Entherm Engenharia
  %ul.nav.navbar-nav.pull-right.hidden-xs
    %li.hidden-xs
      %input.search{:type => "text"}/
    %li.notification-dropdown.hidden-xs.hidden-sm
      %a.trigger{:href => "#"}
        %i.icon-warning-sign
        %span.count 8
      .pop-dialog
        .pointer.right
          .arrow
          .arrow_border
        .body
          %a.close-icon{:href => "#"}
            %i.icon-remove-sign
          .notifications
            %h3 You have 6 new notifications
            %a.item{:href => "#"}
              %i.icon-signin
              New user registration
              %span.time
                %i.icon-time
                13 min.
            %a.item{:href => "#"}
              %i.icon-signin
              New user registration
              %span.time
                %i.icon-time
                18 min.
            %a.item{:href => "#"}
              %i.icon-envelope-alt
              New message from Alejandra
              %span.time
                %i.icon-time
                28 min.
            %a.item{:href => "#"}
              %i.icon-signin
              New user registration
              %span.time
                %i.icon-time
                49 min.
            %a.item{:href => "#"}
              %i.icon-download-alt
              New order placed
              %span.time
                %i.icon-time
                1 day.
            .footer
              %a.logout{:href => "#"} View all notifications
    %li.dropdown
      %a.dropdown-toggle.hidden-xs.hidden-sm{"data-toggle" => "dropdown", :href => "#"}
        = current_user.name.humanize
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Minha conta", main_app.edit_user_registration_path
        %li
          = link_to "Sair", main_app.destroy_user_session_path, method: :delete