!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    = stylesheet_link_tag    'session', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.login-body
    .container
      = yield
    = javascript_include_tag 'session', 'data-turbolinks-track' => true
